HTTPPort 8090
HTTPBindAddress 0.0.0.0
RTSPPort 5454
RTSPBindAddress 0.0.0.0
<Feed feed.ffm>
    File feed.ffm
    FileMaxSize 2M
    ACL allow 10.0.2.15
</Feed>

<Stream live.sdp>
    Feed feed.ffm
    Format rtp
    VideoCodec libx264
    VideoFrameRate 30
    VideoSize 640x480
    VideoBitRate 256
    VideoBufferSize 40
    VideoGopSize 30
    ACL allow 10.0.2.15
    NoAudio
</Stream>
